$yellow: rgb(255, 209, 27);
$pink: rgb(248, 189, 235);
$blue: rgb(82, 114, 242);
$navy: rgb(7, 37, 65);
$light-navy: rgb(36, 20, 104);
$teal: rgb(31, 138, 112);
$green: rgb(3, 201, 136);
$red: rgb(216, 0, 50);
$white: rgb(241, 246, 249);
$dark-navy: rgb(33, 42, 62);
$black: $dark-navy;

// color palettes
$light-grey: rgb(238, 237, 235);
$peach: rgb(224, 204, 190);
$sage: rgb(116, 114, 100);
$chocolate: rgb(60, 54, 51);

$primary: $chocolate;
$secondary: $peach;
$success: $green;
$warning: $yellow;
$error: $red;
$bg: $light-grey;

$max-width: 1000px;

$border-radius: 8px;
$pill-border: 30px;

$box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
$blur: blur(6px);

$transition-duration: 0.3s;
$animation-duration: 0.5s;

$button-bg: $primary;
$button-color: $white;
